/* .button {
    margin: 60px 100px;
    padding: .6rem 2rem!important;
    border-radius: 10px;
    border: 1px solid #ffe198;
    background: #ffe198;
    color: #000;
    text-transform: uppercase;
    transition: all .3s linear;
    font-size: 18px!important;
    animation: ripple 1s linear infinite!important;
    letter-spacing: 1px;
    font-weight: 700;
} */

/* .image3{
    width: 100px;
    height: 100px;
    position: relative;    
    animation: ripple 1s linear infinite!important;
    border-radius: 50%;
}
.image3 img{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes ripple{
    0% {
        box-shadow: 0 0 0 0 rgba(200,166,33,.7), 0 0 0 12px rgba(152,134,30,.4);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(147,135,31,.4), 0 0 0 24px rgba(19,183,72,0);
    }
} */
/* .register{
    position: relative;
    display: flex;
    justify-content: center;
    width: 125px;
    height: 34px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: rgb(29, 209, 161);
    border-radius: 5px;
    padding: 8px 3px;
    text-align: center;
    border: none;
    cursor: pointer;
    animation: ripple 1s linear infinite!important;

}
.register{
    animation: ripple 1s linear infinite!important;
}
@keyframes ripple{
    0% {
        box-shadow: 0 0 0 0 rgba(29, 209, 161, 0.7), 0 0 0 12px rgba(29, 209, 161, 0.4);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(29, 209, 161, 0.4), 0 0 0 24px rgba(29, 209, 161,0);
    }
}  */

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}*::before, *::after, * {
    box-sizing: border-box;
  }
  
  body {
    background-color: hsl(261, 88%, 17%);
    color: hsl(261, 88%, 90%);
    text-align: center;
    max-width: calc(100% - 200px);
  }
  
  .strength-meter {
    position: relative;
    height: 2rem;
    width: 90%;
    border: 3px solid hsl(261, 88%, 57%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .strength-meter::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: hsl(261, 88%, 67%);
  
    transition: width 200ms;
  }
  
  .password-input {
    margin-top: 1rem;
    width: 90%;
    padding: .25rem .75rem;
    background-color: hsl(261, 88%, 25%);
    color: white;
    border: 1px solid hsl(261, 88%, 57%);
    outline: none;
    text-align: center;
    border-radius: .3rem;
  }
  
  .password-input:focus {
    border-color: hsl(261, 88%, 70%);
  }
  
  .reasons > * {
    margin-top: .5rem;
    color: hsl(261, 88%, 80%);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Background Styles Only */
  
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  
  * {
      font-family: Raleway;
  }
  
  .side-links {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .side-link-youtube {
    background-color: red;
  }
  
  .side-link-twitter {
    background-color: #1DA1F2;
  }
  
  .side-link-github {
    background-color: #6e5494;
  }
  
  .side-link-text {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .side-link-icon {
    color: white;
    font-size: 30px;
  }